streamlit==1.37.1
opencv-python==4.9.0.80
numpy==1.23.5
ultralytics==8.2.77
boxmot==10.0.77
matplotlib==3.7.2
pandas==2.1.0
moviepy==1.0.3
nd2reader==3.3.0
fpdf==1.7.2
torch==2.4.1
Pillow==10.0.0
xlsxwriter